* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100vh;
  color: white;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 30%;
  height: 95vh;
  padding: 1%;
  border-radius: 30px;
  margin-top: 5%;
}
.display {
  width: 95%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.grid {
  min-width: 95%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  color: white;
  padding: 1%;
 
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  background: #333;
  cursor: pointer;
}
.box17 {
  grid-column: 1/ span 2;
  border-radius: 55px;
}
.function{
  color: black;
  background: #a5a5a5;
}
.operator,.box19{
  background: #f1a33c;
}
.result{
  min-width: 100%;
  height: 10vh;
  padding: 5%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
  }

@media (max-width:1000px) {
  .container{
   min-width: 55%;
  }
 }
 @media (max-width:600px) {
   .container{
    min-width: 95%;
   }
  }
